<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin A.K.A (Not for Randon) Panel</title>
    </head>
    <body>
        <h1>POORLY DESIGNED ADMIN PANEL</h1>
    // TAKE ALL AGENTS AND MAKE TABLE VIEW WITH ACTIVATION STATUS AND START BUTTON
        <h1>Agents</h1>
            <ol><% agents.forEach((agent) =>{ %>
              <li><b><%= agent.isactivated %></b> <%= agent.name %> <b>PIN </b><%= agent.agentpin %> <b>Target </b><%= agent.target %> <b>IsDead? </b><%= agent.isdead %> <b>KilledBy </b><%= agent.killedby %> <b>Won? </b><%= agent.won %> <b>Admin? </b><%= agent.isadmin %>
                  <form action="/api/agent/<%= agent.id %>/delete" method="get"><button type="submit" value="delete">DELETE</button></form></li>
            <% });%></ol>
        <h1>Create Agent</h1>
        <form action="/api/agent" method="post">
            <p>AGENT PIN</p><input type="text" id="pin" name="agentpin">
            <p>AGENT NAME</p><input type="text" id="name" name="name">
            <input type="submit" value="submit">
        </form>
</html>
